{% extends 'base.html' %}

{% block title %}Contact Me - Jose A Torres{% endblock %}

{% block content %}
<section class="contact-section">
    <div class="container">
        <h2 class="projects-title">Send Me a Message</h2>
        <p class="contact-description">
            I’d love to hear from you. Whether you have a question, feedback, or want to connect — drop a message below!
        </p>

        <div class="contact-form-wrapper">
            <form method="post" class="contact-form">
                {% csrf_token %}

                <div class="field">
                    <label for="id_name">Name</label><br>
                    {{ form.name }}
                </div>

                <div class="field">
                    <label for="id_email">Email</label><br>
                    {{ form.email }}
                </div>

                <div class="field">
                    <label for="id_message">Message</label><br>
                    {{ form.message }}
                </div>

                <button type="submit" class="btn skill">Send Message</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
